@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mochiy {
  font-family: "Mochiy Pop One", sans-serif;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes modal-animation {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
